.container{
  border: 2 px solid black;
  display: flex;
  padding: 15px;
  gap: 60px;

}
.left-box,.right-box{
  width: 200px;
  
  

}
ul{
  list-style: none;
  border: 2px solid red;
  height: 250px;
  font-size: 1.8rem;
  padding-top: 30px;
  background-color: palevioletred;
  border-radius: 20px;
 
  
  
}

  button {
    height: 100px;
    background-color: rgb(18, 235, 166);
    border-radius: 20px;
    font-size: 1.4rem;
    margin-top: 50px;
    margin-left: 10px;
}